<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="base :: head">
</head>
<body>
<span th:replace="base :: scripts" hidden></span>
<div class="container-fluid">
    <h1 th:text="${title}"></h1>
    <span th:text="${msg}" th:value="${msg}"></span>
    <div class="container">
        <form method="post">
            <div class="row">
                <div class="form-group col">
                    <label for="allDinos" class="form-label">Select a dinosaur:</label>
                    <input class="form-control" list="dinos" id="allDinos" name="allDinos" autocomplete="off"/>
                    <datalist id="dinos">
                        <option th:each="dino: ${allDinos}" th:text="${dino.dinoName}" th:value="${dino.id}">
                        </option>
                    </datalist>
                    <input type="submit" id="submit" name="submit" value="Submit" class="btn-primary"/>
                    <h2 th:if="${userMsg != '' || userMsg != null}" th:text="${userMsg}"></h2>
                </div>
            </div>
        </form>
    </div>
    <p th:if="${dinoSelected != true}">No dino currently selected</p>
    <div class="row">
        <div class="col-sm-4" th:if="${dinoSelected == true}">
            <table>
                <tr>
                    <td><strong>Dino Name: </strong></td>
                    <td th:text="${currDino.dinoName}"></td>
                </tr>
                <tr>
                    <td><strong>Type: </strong></td>
                    <td th:text="${currDino.dinoType}"></td>
                </tr>
                <tr>
                    <td><strong>Comfort Threshold: </strong></td>
                    <td th:text="${currDino.comfort + '%'}"></td>
                </tr>
                <tr>
                    <td><strong>Grassland: </strong></td>
                    <td th:text="${currDino.grass + 'm^2'}"></td>
                </tr>
                <tr>
                    <td><strong>Forest: </strong></td>
                    <td th:text="${currDino.forest + 'm^2'}"></td>
                </tr>
                <tr>
                    <td><strong>Wetland: </strong></td>
                    <td th:text="${currDino.wetland + 'm^2'}"></td>
                </tr>
                <tr>
                    <td><strong>Max Ideal Population: </strong></td>
                    <td th:text="${currDino.maxPop}"></td>
                </tr>
                <tr>
                    <td><strong>Social Group Min: </strong></td>
                    <td th:text="${currDino.socialMin}"></td>
                </tr>
                <tr>
                    <td><strong>Social Group Max: </strong></td>
                    <td th:text="${currDino.socialMax}"></td>
                </tr>
            </table>
        </div>
        <div class="col-sm-5" th:if="${dinoSelected == true && trexPresent != true}">
            <h4>Safe Dinos For Current Selection</h4>
            <h6>Click Dino Name for More Info</h6>
            <table>
                <tr th:each="dino : ${safeByType}">
                    <td><a th:text="${dino.dinoName}" th:href="@{|/${dino.id}|}"></a> </td>
                </tr>
            </table>
        </div>
    </div>
</div>

</div>
</body>
</html>