<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
    <head th:replace="base :: head">
    </head>
    <body>
<!--        <form method="post">-->
            <!-- below doesn't work -->
<!--            <select name="dinoSelected" id="dinoSelected" class="form-control select2-single"-->
<!--                    th:each="dino: ${allDinos}" autocomplete="on">-->
<!--                <option th:value="${dino.Id}" th:text="${dino.dinoName}"></option>-->
<!--            </select>-->
<label for="allDinos" class="form-label">Datalist example</label>
<input class="form-control" list="dinos" id="allDinos">
<datalist id="dinos">
    <option th:each="dino: ${allDinos}" th:text="${dino.dinoName}" th:value="${dino.id}"></option>
</datalist>
    </body>
</html>